  <!-- LOADING ICON -->
  <!-- show loading icon if the loading variable is set to true -->
<div ng-show="loading">
<img src="app/bower_components/loading/loading-spin.svg" width="64" height="64">
<p>Loading...</p>
</div>
<div ng-repeat="value in deviceData.devices">
<p>{{value.name}} : {{value.value}} </p>
</div>
<div ng-if="!deviceData.devices">{{deviceData}}</div>

<div class="panel panel-default  col col-md-8 col-lg-8 col-lg-offset-2 col-md-offset-2">
<div class="panel-heading">
	<h4 ng-click="generateChart('Температура')">refresh</h4>
	{{data}}
</div>
<div class="panel-body">
	<canvas id="line" class="chart chart-line" chart-data="data"
	  chart-labels="labels" chart-legend="true" chart-series="series"
	  chart-click="onClick" >
	</canvas>
</div>


</div>